
<!-- header view partial -->
<% include ./partials/header.ejs %>


<h1>Sign Up</h1>


<form action="/register" method="POST">
    <input type="test" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Sign Up</button>
</form>


<!-- footer view partial -->
<% include ./partials/footer.ejs %>