
<!-- header view partial -->
<% include partials/header.ejs %>

<h1><%= campground.name %></h1>


<img src="<%= campground.image %>">

<p><%= campground.description %></p>


<!-- footer view partial -->
<% include partials/footer.ejs %>